body {
  margin: 0;
  font-size: 16px;
}
#app-content {
  background-color: #34568b;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-container {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-family: "Exo", sans-serif;
  user-select: text;
}
.click-me-btn {
  color: white;
  background: black;
  width: 150px;
  height: 50px;
  font-family: "Exo", sans-serif;
  margin: auto;
  font-size: 24px;
  cursor: pointer;
}
.btn-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-block > h3 {
  font-family: "Pacifico", cursive;
  font-size: 24px;
  color: #fff;
}
.text-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.copy-btn {
  height: 30px;
  width: auto;
  background: black;
  color: white;
  margin-left: 20px;
  font-size: 18px;
  font-family: "Exo", sans-serif;
  cursor: pointer;
}
